<!DOCTYPE html>
<html>
<head>
    <title>HEAL-CARE</title>
    <link rel="stylesheet"  type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/894da7d0a5.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"><i id="icon"class="fas fa-heartbeat fa-lg m-2"></i>HEAL-CARE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>      
              
            <div class="collapse navbar-collapse" id="nav-links">
                <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <a href="/Home" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/covid19" class="nav-link">Covid19</a>
                    </li>
                    <li class="nav-item">
                        <a href="/search" class="nav-link">Meal Planner</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="icon"><a href="#">Signup<i class="fa fa-user-plus mx-2"></i></a></li><span></span>
                    <li ><a href="#">Login<i class="fa fa-user"></i></a></li>
                </ul>
            </div>
   </nav>
<p></p>

